:root {
    --color-primary: #008000;
    --color-secondary: #006000;
    --color-background-1: #1a1a1a;
    --color-background-2: #2d2d2d;
    --color-background-3: #3a3a3a;
    --color-text: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-text);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-background-1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-2);

    h1 {
        margin:10px
    }
}

fieldset {
    width: 80vw;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-2);
    padding: 24px;
    border-radius: 8px;


    legend {
        font-weight: bold;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.project-link {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        font-size: 16px;
        margin-left: 8px;
        text-decoration: none;
        color: var(--color-primary);
    }
    a:hover {
        text-decoration: underline;
        color: var(--color-secondary);
    }
    P {
        margin: 5px;
    }

}